h2 {
    position: relative;
    top: 50%;
    text-align: center;
    text-decoration: underline;
    /* width: 85%; Set the width of the positioned div */
    /* keeps text in center for responsive css */
    max-width: 100vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    font: 400 6vw/1.4em 'Pacifico', Helvetica, sans-serif;
    color: rgb(140, 219, 255);
    margin: 10px;
    text-shadow: 1px 1px 0px black, 1px 1px 0px black;
    padding-top: 60px;
  }

.footer{
    grid-area: ft;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(230, 225, 226);
    border: 1px solid rgb(230, 225, 226);
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    }


 .navbar {
    list-style-type: none;
    /* z-index makes sticky navbar stay on top as u scroll  */
    z-index: 3;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-image: url('rooftop.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border: 1px solid rgb(230, 225, 226);
    /* this fixes the nav bar to top when scrolling */
    position: fixed;
    top: 0;
    width: 100%;
    font: 400 2vw/1.5 'Pacifico', Helvetica, sans-serif;
    color: white;
    }

.navlinks {
    display: inline;
    text-decoration:  none;
    color: black;
    }

.navlinks2 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: black;
    font: 400 3vw/1.4em 'Pacifico', Helvetica, sans-serif;
    color: rgb(140, 219, 255);
    text-shadow: 1px 1px 0px black, 1px 1px 0px black;
    }
    
a:hover {
/* changes background color when mouse hovers over the link */
    background-color:rgb(247, 199, 229);
    }

a  {
/* applies padding between the navigation horizontal links */
    padding: 20px;
    }

/* SOCIAL MEDIA Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
/* SOCIAL MEDIA Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
    }

/* SOCIAL MEDIA Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: white;
    }

.facebook {
    background: rgb(140, 219, 255);
    color: white;
    }

.instagram {
    background: rgb(140, 219, 255);
    color: white;
    }

.google {
    background: rgb(140, 219, 255);
    color: white;
    }

.linkedin {
    background: rgb(140, 219, 255);
    color: white;
    }

.youtube {
    background: rgb(140, 219, 255);
    color: white;
    }
    
    /* contact Us layout */
* {
  box-sizing: border-box;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}