.container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      /* grid-template-columns: repeat(3, 1fr); */
      /* grid-template-columns: 30px repeat(7,1fr); */
      /* grid-template-rows: 70px 400px 1fr; */
      grid-template-columns: 100%;
      grid-template-rows: 800px 1fr 1fr;
      grid-template-areas: 
      "hd"
      "sd"
      "main"
      "ft";
      grid-gap: 15px;
      padding-top: 50px;
  }

.box{
    display: flex;
    border: 1px solid black;
    background: white;
    padding: 15px;
    margin: 10px;
    }

.header{
    grid-area: hd;
    background-image: url('baseball.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(219, 214, 214);
    border-radius: 90px;
    border: none;
    }

#title {
    color: rgb(247, 199, 229);
    text-shadow: black;
    position: absolute;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    /* text-decoration: underline; */
    /* width: 85%; Set the width of the positioned div */
    /* keeps text in center for responsive css */
    max-width: 100vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    font: normal normal bold 11vw/1.4em lulo-clean-w01-one-bold,sans-serif;
    text-shadow: 3px 3px 0px black, 3px 3px 0px black;
}

#subtitle {
    position: absolute;
    top: 75%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    /* width: 85%; Set the width of the positioned div */
    /* keeps text in center for responsive css */
    max-width: 100vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    font: 400 3vw/1.5 'Pacifico', Helvetica, sans-serif;
    color: rgb(140, 219, 255);
    text-shadow: 3px 3px 0px black, 3px 3px 0px black;
}

h2 {
    position: relative;
    top: 50%;
    text-align: center;
    text-decoration: underline;
    /* width: 85%; Set the width of the positioned div */
    /* keeps text in center for responsive css */
    max-width: 100vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    font: 400 6vw/1.4em 'Pacifico', Helvetica, sans-serif;
    color: rgb(140, 219, 255);
    margin: 10px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  }

.footer{
    grid-area: ft;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(230, 225, 226);
    border: 1px solid rgb(230, 225, 226);
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    }

.sidebar{
    grid-area: sd;
    }
/* YOUTUBE VIDEOS */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
     
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

/* Comment box */
.comment {
    width: 40%;
    height: 100px;
    background-color: white;
    color: rgb(230, 225, 226);
    font: 400 2.5vw/1.4em 'Pacifico', Helvetica, sans-serif;
    margin: 25px auto;
}

/* PHOTO GALLERY configuration on homepage */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* PHOTO GALLERY Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
    
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* PHOTO GALLERY Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* PHOTO GALLERY Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.content{
    grid-area: main;
    background-image: url('profilepic.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position-x: center;
    }

 .navbar {
    list-style-type: none;
    /* z-index makes sticky navbar stay on top as u scroll  */
    z-index: 3;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-image: url('rooftop.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border: 1px solid rgb(230, 225, 226);
    /* this fixes the nav bar to top when scrolling */
    position: fixed;
    top: 0;
    width: 100%;
    font: 400 2vw/1.5 'Pacifico', Helvetica, sans-serif;
    color: white;
    }

.navlinks {
    display: inline;
    text-decoration:  none;
    text-decoration:  none;
    color: black;
    }
    
a:hover {
/* changes background color when mouse hovers over the link */
    background-color:rgb(247, 199, 229);
    }

a  {
/* applies padding between the navigation horizontal links */
    padding: 20px;
    }

/* SOCIAL MEDIA Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
/* SOCIAL MEDIA Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
    }

/* SOCIAL MEDIA Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: white;
    }

.facebook {
    background: rgb(140, 219, 255);
    color: white;
    }

.twitter {
    background: rgb(140, 219, 255);
    color: white;
    }

.google {
    background: rgb(140, 219, 255);
    color: white;
    }

.linkedin {
    background: rgb(140, 219, 255);
    color: white;
    }

.youtube {
    background: rgb(140, 219, 255);
    color: white;
    }
