.container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      /* grid-template-columns: repeat(3, 1fr); */
      /* grid-template-columns: repeat(2,1fr); */
      /* grid-template-rows: 45vh 45vh; */
      grid-template-columns: 30px repeat(7,1fr);
      grid-template-rows: 100px 350px 600px 100px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "main main main main main main sd sd"
      "ft ft ft ft ft ft ft ft";
      grid-gap: 15px;
      border: 2px solid black;
      padding: 15px;
  }

.box{
    display: flex;
    border: 1px solid black;
    background: white;
    padding: 15px;
    margin: 10px;
    }

.header{
    grid-area: hd;
    }
.footer{
    grid-area: ft;
    }
.sidebar{
    grid-area: sd;
    }
.content{
    grid-area: main;
    }

    /* test test */